.Label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  margin-right: 0.5rem;
}

.Input {
  font: inherit;
  padding: 0.25rem 0.5rem;
  border: 1px solid #ccc;
  background-color: #f4f4f4;
  border-radius: 6px;
  margin-bottom: 1rem;
}

.Button {
  font: inherit;
  padding: 0.4rem 5rem;
  border: 1px solid #ccc;
  background-color: #f4f4f4;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 1rem;
  margin-right: 2rem;
}

.ButtonContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
